*{
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.black{
    color: rgb(255, 255, 255) !important;
}
.header{
    width: 100vw;
    height: 12vh;
    margin-bottom: 2rem;
}
.navbar{
    position: relative;
    height: 100%;
}
.navbar_line{
    position: absolute;
    top: 50%;
    height: 0.1rem;
    width: 100vw;
    background-color: rgb(159, 144, 1);
}
.navbar_logo{
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    background-color: black;
    font-size: 3rem;
    text-align: center;
}
.main_conatainer{
    display: flex;
    flex: 1 2 1;
}
.online_container{
    display: flex;
    width: 15%;
    padding-top: 1rem;
    padding-right: 1rem;
    border-right: 2px solid rgb(94, 94, 94);
    flex-direction: column;
    height: 86vh;
}
.new_event{
    width: 100%;
    text-align: center;
    /* background-color: aqua; */
}
.new_event_online{
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: rgb(159, 144, 1);
    font-weight: 400;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.new_event_span{
    width: 1rem;
    height: 1rem;
    background-color: rgb(159, 144, 1);
}
.leaderboard{
    width: 15%;
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgb(94, 94, 94);
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    /* background-color: aqua; */
}
.leaderboard_name{
    color: rgb(159, 144, 1);
    text-align: center;
    text-transform: uppercase;
    color: rgb(159, 144, 1);
    font-weight: 400;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.para{
    /* margin: auto;
    padding: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    text-align: center;
    position: relative;
}
.main_para{
    /* width: 60%; */
    font-size: 150%;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    letter-spacing: 1px;
    color: grey;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.main_para > span{
    font-size: 100%;
    display: inline;
}
.score{
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: black;
        /* background-color: aqua; */

}
.scoreNWP{
    width: 25%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(159, 144, 1);
    /* background-color: aqua; */
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 180%;
    color: darkgray;
    border-radius:100%;
    text-align: center;
    margin-bottom: 3rem;
}
.name_results > span{
    font-size: 1.5rem;
    color: whitesmoke;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.new_event_p{
    border-left: 2px solid rgb(159, 144, 1);
    margin-bottom: 0.5rem;
    color: whitesmoke;
}
.name_results_name{
    color: rgb(159, 144, 1) !important;
    font-size: 1.5rem;
}
.name_results_score{
    font-size: 2.3rem;
    color: rgb(159, 144, 1) !important;
}
button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 170%;
}
button:hover{
    cursor: pointer;
}
.main_para > span{
    font-size: 1.8rem;
}
.player_leader{
    color: whitesmoke;
}
.rankUser{
    color: whitesmoke;
}
